
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary {
    color: $color-gray-dark;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.heading-tertiary {
   
}

.paragraph {
   font-size: $default-font-size;
}
