
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary {
    color: $color-gray-dark;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: $spacing-xs;
}

.heading-secondary {
    text-transform: uppercase;
    font-weight: 700;
}

.paragraph {
   font-size: $default-font-size;
   color: $color-gray-light;
   font-weight: $font-weight-bold;
}
