.btn {
  background-color: $color-primary;
  border: none;
  color: $color-white;
  padding: 8px 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  &--list {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  &--add {
    background-color: #e74c3c;
    color: #fff;
  }

  &--menu {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  &:hover {
    background-color: $color-secondary;
    color: $color-white;
  }

}