
.slider-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: #388e3c solid 2px;
  }
  
  .slider {
    display: flex;
    overflow: hidden;
  }
  
  .slide {
    flex-shrink: 0;
    width: 33.33%;
  }
  
  img {
    width: 50%;
    height: auto;
  }
  
  .slider-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
 