.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;

    @include respond(phone) {
        position: absolute;
        top: -8rem;
        left: 2rem;
        width: 100%;
    }
}