.models {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: baseline;
    height: 100vh;

    .carform {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}