/* stylelint-disable no-descending-specificity */
:root {
  --app-color: #99c210;
  --hover-color: #849e2e;
  --white: #fff;
  --shade: #eee;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #fbfbfb;
}

.App {
  text-align: center;
}

.signup {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.btn-primary,
.btn-primary:hover {
  background-color: var(--hover-color);
  border-color: var(--app-color);
}

.btn-primary,
.btn-primary:focus {
  background-color: var(--app-color);
  border-color: var(--app-color);
}

.logo img {
  width: 200px;
  height: 200px;
}

.logo {
  text-align: left;
  margin-left: 1rem;
}

.nav .nav-link.active {
  background-color: var(--app-color);
  border-color: var(--app-color);
  border-radius: 0%;
}

.nav-link {
  text-transform: uppercase;
  width: 13rem;
  color: black;
  font-weight: bolder;
  text-align: left;
}

.link {
  text-decoration: none;
}

.carousel-item {
  height: 80vh;
}

.sidenav {
  width: 15.6%;
  height: 100vh;
  margin-left: 1rem;
  border-right: 1px solid #efefef;
  position: absolute;
}

.login-page {
  position: relative;
}

.model {
  position: relative;
  left: 12rem;
  bottom: 12rem;
  width: 80%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-container {
  position: absolute;
  top: 1rem;
  right: 28rem;
}

.carlist {
  width: 80%;
  height: 100vh;
  z-index: 8;
}

.car-container {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 78;
  border: 1px solid var(--shade);
}

.car-heading {
  position: absolute;
  top: 0;
  left: 24rem;
}

.rec.rec-arrow.rec-arrow-left {
  background-color: var(--app-color);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: var(--white);
}

.rec.rec-arrow.rec-arrow-right {
  background-color: var(--app-color);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  color: var(--white);
}

.rec.rec-arrow.rec-arrow-right:hover {
  background-color: var(--hover-color);
}

.rec.rec-arrow.rec-arrow-left:hover {
  background-color: var(--hover-color);
}

.slides {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  z-index: 8;
}

.slides .card {
  border-radius: 50%;
  border: none;
}

.details-container {
  display: flex;
  position: absolute;
  top: 8rem;
  right: 2rem;
}

.details-image {
  width: 40rem;
  border: 2px solid red;
}

.details-header {
  text-align: right;
}

tr {
  text-align: left;
}

.details ul li {
  list-style: none;
  text-align: left;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.4rem;
}

.details ul li:nth-child(2n+1) {
  background-color: var(--shade);
}

.card-details {
  display: flex;
  justify-content: space-around;
}

.car-container .table-success.table-stripped {
  background-color: var(--hover-color);
}

.table-container {
  border: 1px solid rgb(243, 217, 217);
  width: 90%;
}

.main-table-container {
  display: flex;
  align-items: center;
  border: none;
}

.close-button {
  position: relative;
  left: -2rem;
  bottom: 0.5rem;
}
