.App {
  text-align: center;
}
.signup {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.btn-primary,
.btn-primary:hover {
  background-color: #99c210;
  border-color: #99c210;
}
.logo img{
  width: 200px;
  height: 200px;
}

.logo {
  text-align: left;
  margin-left: 1rem;
}
.nav .nav-link.active {
  background-color: #99c210;
  border-color: #99c210;
  border-radius: 0%;
}

.nav-link {
  text-transform: uppercase;
  width: 13rem;
  color: black;
  font-weight: bolder;
  text-align: left;
}

.link {
  text-decoration: none;
}

.carousel-item {
  height: 80vh;
}

.sidenav {
  width: 15.6%;
  height: 100vh;
  margin: 1rem;
  border-right: 1px solid #efefef;
  position: absolute;

}

.login-page {
  position: relative;
}

.model {
  position: relative;
  left: 12rem;
  bottom: 10rem;
  width: 70%;
}