:root {
  --app-color: #99c210;
}

.App {
  text-align: center;
}
.signup {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.btn-primary,
.btn-primary:hover {
  background-color: var(--app-color);
  border-color: var(--app-color);
}
.logo img{
  width: 200px;
  height: 200px;
}

.logo {
  text-align: left;
  margin-left: 1rem;
}
.nav .nav-link.active {
  background-color: var(--app-color);
  border-color: var(--app-color);
  border-radius: 0%;
}

.nav-link {
  text-transform: uppercase;
  width: 13rem;
  color: black;
  font-weight: bolder;
  text-align: left;
}

.link {
  text-decoration: none;
}

.carousel-item {
  height: 80vh;
}

.sidenav {
  width: 15.6%;
  height: 100vh;
  margin: 1rem;
  border-right: 1px solid #efefef;
  position: absolute;

}

.login-page {
  position: relative;
}

.model {
  position: relative;
  left: 12rem;
  bottom: 10rem;
  width: 80%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrows {
 background-color: var(--app-color);
 border-color: 2px solid var(--app-color);
 height: 10%;
 width: 10%;
}

.arrows.left {
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}

.arrows.right {
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
}

.carlist {
  width: 80%;
  height: 100vh;
  z-index: 8;
}

.car-container {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: rem;
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 78;
}

.car-heading {
  position: absolute;
  top: 0;
  left: 24rem;
}