.home {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

        &__title {
            font-size: 2rem;
            font-weight: bolder;
            margin-bottom: 1rem;
        }

        &__subtitle {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: $secondary-color;
        }
    }
}
.slides {
    // border-radius: 50%;

    .card {
        // width: 100%;
        // height: 100%;
        
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}