.nav {
    display: flex;
    flex-direction: column;

    &__lists {
        display: flex;
        flex-direction: column;

        .link {
            text-decoration: none;
            text-transform: uppercase;
            width: 13rem;
            color: black;
            font-weight: bolder;
            text-align: left;
        }
    }
}