@import '../config/variables.scss';

.nav {
    display: flex;
    flex-direction: column;
    width: 15.6%;
    height: 100vh;
    margin-left: 1rem;
    border-right: 1px solid #efefef;
    
    &__lists {
        display: flex;
        flex-direction: column;

        .link {
            text-decoration: none;
            text-transform: uppercase;
            width: 13rem;
            color: black;
            font-weight: bolder;
            text-align: left;

            &--active {
                background-color: $app-color;
                border-radius: 0%;
            }
        }
    }
}