
.nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 1rem;
    border-right: 1px solid #efefef;
    z-index: 14;

    @include respond(phone) {
        flex-direction: row;
        z-index: 7;
    }

    &__menu {
        transition: all 0.9s ease-in-out;
        z-index: 14;

        @include respond(tab-land) {
            background-color: #efefef;
            width: 100%;
            position: absolute;
            top: 6rem;
        }
    }

    &__toggle {
        display: none;

        @include respond(tab-land) {
            display: block;
        }
    }

    &__lists {
        display: flex;
        flex-direction: column;

        .link {
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
            color: black;
            font-weight: $font-weight-extra-bold;
            text-align: left;
            padding: $padding-sm;
            font-size: $font-size-md;
            transition: all 0.2s;

            &:hover {
                transform: scale(0.95);
            }

            &--active {
                background-color: $color-primary;
                border-radius: 0%;
                color: white;
            }
        }
    }
    .user {
        border-top: #efefef 1px solid;
        padding-top: 1.4rem;

        &__member {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1rem;

            &__link {
                font-size: 1rem;
                text-decoration: none;

                &:hover {
                    font-size: 1.1rem;
                }
            }
        }
    }

    &__logo {
        position: relative;
        img {
            width: 240px;
            height: 240px;

            @include respond(tab-land) {
                position: absolute;
                top: -12rem;
                left: 32rem;
            }

            @include respond(phone) {
                // top: -12rem;
                // left: 32rem;
                width: 140px;
                height: 140px;
            }
        }

    }

}

.nav__menu.show {
    @include respond(tab-land) {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 7;
    }
}