
.nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 1rem;
    border-right: 1px solid #efefef;

    @include respond(tab-land) {
       display: none;
    }

    &__lists {
        display: flex;
        flex-direction: column;

        .link {
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
            color: black;
            font-weight: $font-weight-extra-bold;
            text-align: left;
            padding: $padding-sm;
            font-size: $font-size-md;
            transition: all 0.2s;

            &:hover {
                transform: scale(0.95);
            }

            &--active {
                background-color: $color-primary;
                border-radius: 0%;
                color: white;
            }
        }
    }
    .user {
        border-top: #efefef 1px solid;
        padding-top: 1.4rem;

        &__member {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1rem;

            &__link {
                font-size: 1rem;
                text-decoration: none;

                &:hover {
                    font-size: 1.1rem;
                }
            }
        }
    }

    &__logo {
        position: relative;
        img {
            width: 200px;
            height: 200px;
        }

        .menu-btn {
            // display: none;
            position: absolute;
            top: 0;
            left: 0;

            
        }
    }
}